@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@300;400;700;900&display=swap");

* {
  font-family: "Raleway", "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.active {
  color: gray;
}

:root {
  --background-color: #202325;
  --header-footer-color: #272929;
  --card-one-color: #5386e4;
  --card-two-color: #1b998b;
  --card-three-color: #a53b3b;
  --font-color: white;
  --main-height: calc(100vh - 260px);
}

body {
  background-color: var(--background-color);
}

main {
  min-height: var(--main-height);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: relative;
  background-color: var(--header-footer-color);
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
  padding-right: 0.5rem;
}

.logo {
  display: flex;
  height: 70px;
  background-color: #323432;
  border-radius: 8px;
}

.csm-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.csm-text > h1 {
  font-size: 1.25rem;
  background-color: #323432;
  border-radius: 0 8px 8px 0;
  width: 208px;
  padding: 0.7rem;
  color: white;
  font-weight: 300;
}

a {
  z-index: 100;
  color: var(--font-color);
  text-decoration: none;
  transition: ease-in-out 200ms;
}

a:hover {
  color: gray;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  max-width: 500px;
  padding-top: 0.7rem;
}

.nav-dots {
  width: 4px;
  height: 4px;
  display: flex;
}

.h2-text {
  padding: 1rem 0;
}

.card-container > h1,
.card-container > h2 {
  font-size: 1.25rem;
  padding: 1rem;
  color: var(--font-color);
}

.desktop {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem, 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.card {
  display: flex;
  position: relative;
  border-radius: 8px;
  background-color: var(--card-one-color);
  flex-direction: column;
  color: var(--font-color);
  width: 304px;
  padding: 0.5rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.bg-green {
  background-color: var(--card-two-color);
}

.bg-red {
  background-color: var(--card-three-color);
}

.card-image {
  min-width: 0;
  width: 280px;
  height: 167px;
  object-fit: revert;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > p {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.6rem;
  padding-right: 0;
}

.card > h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.right-arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 130px;
  background-color: var(--header-footer-color);
  bottom: 0;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;
}

.wrapper {
  max-width: 750px;
  width: 100%;
}

.opening-hours > h3,
.contact > h3 {
  font-weight: 400;
}

.footer-logo-social {
  display: flex;
  align-items: center;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 50px;
  height: 54px;
}

.social-logos {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.facebook-logo,
.instagram-logo {
  height: 25px;
  width: 25px;
}

.opening-hours,
.contact {
  font-size: 0.6rem;
  color: var(--font-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .nav {
    position: absolute;
    justify-content: center;
    max-width: none;
    gap: 2rem;
  }
}

@media screen and (min-width: 481px) {
  .card {
    width: 400px;
  }

  .footer {
    align-items: center;
  }

  .bottom-header {
    max-width: 750px;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .header {
    flex-direction: row;
  }

  .csm-text {
    width: auto;
    padding: 0;
    background-color: #323432;
    border-radius: 0 8px 8px 0;
    align-items: center;
  }

  .nav {
    font-size: 1rem;
  }

  .mobile {
    display: none;
  }

  .card-container > h1,
  .card-container > h2 {
    font-size: 1.25rem;
    padding: 1rem;
    color: var(--font-color);
  }

  .desktop-card-text > h2 {
    font-size: 1.25rem;
    color: var(--font-color);
    margin-bottom: 1rem;
  }

  .desktop-card-container {
    padding: 0 2rem;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .desktop-card {
    background-color: var(--card-one-color);
    color: var(--font-color);
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    max-width: 1240px;
    align-items: center;
    height: 320px;
  }

  .bg-green {
    background-color: var(--card-two-color);
  }

  .bg-red {
    background-color: var(--card-three-color);
  }

  .desktop-card-text {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 2rem;
  }

  .desktop-card-text > p {
    max-height: 240px;
    overflow: auto;
    padding-right: 0.6rem;
    text-align: justify;
  }

  .desktop-card-image {
    width: 20rem;
    height: 320px;
    aspect-ratio: 4/3;
    object-fit: cover;
  }
}
