@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@300;400;700;900&display=swap");

* {
  font-family: "Raleway", "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #202325;
  --header-footer-color: #272929;
  --card-one-color: #5386e4;
  --card-two-color: #1b998b;
  --card-three-color: #a53b3b;
  --font-color: white;
  --main-height: calc(130px - 100vh - 130px);
}

body {
  background-color: var(--background-color);
}

main {
  min-height: calc(130px - 100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: var(--header-footer-color);
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: center;
  width: 100%;
}

.top-header {
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
}

.header-logo {
  display: flex;
  width: 50px;
  height: 54px;
  padding-left: 2rem;
  padding-right: 1rem;
  align-items: right;
  justify-self: right;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-between;
  font-size: 12px;
}

nav:last-child {
  margin-right: 1rem;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: gray;
  cursor: pointer;
}

.nav-dots {
  width: 4px;
  height: 4px;
  display: flex;
  margin-top: 0.4rem;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 130px;
  background-color: var(--header-footer-color);
  bottom: 0;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;
}

.wrapper {
  max-width: 750px;
  width: 100%;
}

.opening-hours > h3,
.contact > h3 {
  font-weight: 400;
}

.footer-logo-social {
  display: flex;
  align-items: center;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 50px;
  height: 54px;
}

.social-logos {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.facebook-logo,
.instagram-logo {
  height: 25px;
  width: 25px;
}

.opening-hours,
.contact {
  font-size: 0.6rem;
  color: var(--font-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 481px) {
  .footer {
    align-items: center;
  }

  .bottom-header {
    max-width: 750px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
}
